extends layout
head

body

block content
   .container.firstContainer.marketing
    .row
     .col-lg-6.text
       h2 Контакты для оформления заказа
       p
       |  |  Телефон: +37544 486 20 36;
       br
       |  |  Email: sporthouse@gmail.com;
     .col-lg-12
      img.pull-right(src='/img/logo/log3.png', height='140px', width='140px')
    br
    br




       

  
