doctype html
html
  head
    title Sport House
    link(rel='shortcut icon', href='../img/logo/log33.png', type='image/x-icon')
    for style in styles
        link(rel='stylesheet', href='#{style}')
    for script in scripts
        script(src='#{script}')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')

  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

              a.navbar-brand(href='#')
                img(height='40px', src='/img/logo/log3.png')
              a.navbar-brand.logoText(href='#') SPORT HOUSE
              br 
              p.navbar-brand.logMag МАГАЗИН СПОРТИВНОГО СНАРЯЖЕНИЯ
            .navbar-collapse.collapse.textMenu
              ul.nav.navbar-nav.navbarRight
                li
                  a.button(href='/main') Главная
                li
                  a.button(href='/sorry') Галерея
                li
                  a.button(href='/contacts') Контакты

    #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner
        .item.sl1
          .container
            .carousel-caption
              h1 Команда профессионалов
              br
              p
                | Наша команда активно занимается различными видами спорта, 
                br
                | что гарантирует Вам качественную помощь в выборе товара. 
 
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Посмотреть товар
        .item.sl2
          .container
            .carousel-caption
              h1 На низком старте
              p
                | Мы находимся в самом начале нашей карьеры, и по этому, все наши силы направленные на качественную и продуктивную работу.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Связаться с нами
        .item.sl3.active
          .container
            .carousel-caption
              h1 Мы поможем вам стать лучше
              p
                b.styleSlider Знали ли Вы, что первые 10 минут собеседник смотрит на вашу внешность? 
                br
                | Занимаясь спортом, Вы повышаете свою работоспособность и привлекательность. 
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Выбрать тренажёр
      a.left.carousel-control(href='#myCarousel', data-slide='prev')
        span.icon-prev
      a.right.carousel-control(href='#myCarousel', data-slide='next')
        span.icon-next
    block content



    .container
     hr
     footer
        .row
          .col-lg-12
            p © Sport House 2015
    script.
      $('.carousel').carousel({
      interval: 8000 
      })
