extends layout
head
body

block content
    .container.marketing
      .row
        .col-lg-4
          img.img-circle.grow.button(src='/img/content/pohod1.jpg', height='140px', width='140px')
          h2 Всё для туризма  
          p.textCenter
            | Кто-то идет в горы и штурмует скалы. Кто-то катается на горных лыжах или велосипеде. Некоторым просто достаточно выехать в лес и посидеть у костра, с друзьями. И хорошее снаряжение поможет Вам путешествовать с комфортом.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-lg-4
          img.img-circle.grow.button(src='/img/content/box3.jpg', height='140px', width='140px')
          h2 Спортивный инвентарь
          p У нас вы найдёте всё необходимое, что бы стать лучше и привлекательнее: велотренажеры, эллиптические тренажеры,  велосипеды, силовые тренажеры, беговые дорожки,  теннисные столы и многое другое. 
            | 
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-lg-4
          img.img-circle.grow.button(src='/img/content/tactic.jpg', height='140px', width='140px')
          h2 Тактическое снаряжение
          p
            | Одежда для военных изготавливается из особо прочных, водоотталкивающих материалов, которые обладают теплосберегающими свойствами и отличной вентиляцией. Именно такая форма лучше всего подходит для тактических игр и походов.
          p
            a.btn.btn-default(href='#', role='button') View details »

      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | First featurette heading. 
            span.text-muted It'll blow your mind.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
          img.featurette-image.img-responsive.effect-lily(src='/img/content/pohod1.jpg', height='500px', width='500px', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
       .col-md-5
         img.featurette-image.img-responsive(src='/img/content/box3.jpg', height='500px', width='500px', alt='Generic placeholder image')
       .col-md-7
         h2.featurette-heading
           | Oh yeah, it's that good. 
           span.text-muted See for yourself.
         p.lead
           | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      hr.featurette-divider
      .row.featurette
       .col-md-7
         h2.featurette-heading
           | And lastly, this one. 
           span.text-muted Checkmate.
         p.lead
           | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
       .col-md-5
         img.featurette-image.img-responsive(src='/img/content/tactic.jpg', height='500px', alt='Generic placeholder image')




         
         
         
         
         
         
         