extends layout
head
body

block content
    .container.shadowDown.textCenter
      .row
        .col-lg-12
          br
          h1.big Спортивное | Походное | Тактическое 
          
          h1.big.  снаряжение

           
      br
      hr
      br                                                                                                                           
    .container.textCenter

     .boxContCenter
       h2.textCenter.mid Ищете способы подтянуть свою фигуру в домашних условиях? 
       h2.textCenter.mid Нужно подходящее снаряжение для похода? 
       h2.textCenter.mid Мы поможем Вам найти решение!
       br
       hr
       br                 
      .row
        .col-md-3.boxContCenter
          img.img-rounded.button.grow(src='/img/content/pohod1.jpg', style='margin:5px 0px 15px;', height='200px', alt='equipment')
          p.style 
           | Походное снаряжение
        .col-md-3.boxContCenter
          img.img-rounded.button.grow(src='/img/content/box3.jpg', style='margin:5px 0px 15px;', height='200px', alt='equipment')
          p.style
           | Спортивный инвентарь
        .col-md-3.boxContCenter
          img.img-rounded.button.grow(src='/img/content/tactic.jpg', style='margin:5px 0px 15px;', height='200px', alt='equipment')
          p.style
           | Тактическое снаряжение

       hr
    br      
    .container
      h1.big.textCenter Наши преимущества – ваша выгода!
      br
      br
      ul.small
       li Продажа, 
        b доставка 
        и 
        b установка 
        |спортивных тренажеров и спорттоваров для активного отдыха с пользой для здоровья!
       br
       li У нас Вы можете купить спортивные тренажеры для дома в любое 
        b удобное для Вас время. 
       br
       li Наша команда активно занимается различными видами спорта и сможет 
        b проконсультировать Вас 
        | и помочь с выбором подходящих спортивных, туристических и тактических товаров, тренажеров для дома. 
       br
       li У нас Вы найдете:  велотренажеры, эллиптические тренажеры,  велосипеды, силовые тренажеры, беговые дорожки,  теннисные столы, различное туристическое снаряжение и обмундирование для тактических игр.
       br
       li Уже через 12 часов Вы сможете получить Ваш заказ.

         
         
         
         
         
         
         