extends layout
head
body

block content
    .container
      .row
        .col-lg-12
          h1 Website for your Recording Studio
          p
           br
           | Cantus Studio is a professional recording studio located in central Oslo, Norway – close to Youngstorget.
           br
           | We offer everything you’ll need from a high-end recording studio at affordable rates.
           br
           | At Cantus Studio you’ll find state-of-the-art analogue and digital audio equpment in a acoustically designed
           br   
           | and aesthetically pleasing, 52 square meter, recording studio.
           br
           | Our primary goal is to maintain the historical traditions and magic that a professional studio has to offer,
           br
           | at affordable rates, and also to help you fulfil your creative vision and inspire the artist within.
           br
           | Cantus Studio is equipped with some of the best audio equipment, such as a 24 channel analog SSL mixing 
           br
           | console, Neve, API and Chandler Limited mic preamps, Neumann, Microtech Gefell and Royer microphones and a lot more!
           br
           | We’re always looking for new challenges, so please feel free to contact us!
       hr
    .container
     h2 Sound recording studio
      p
       br
      .row
        .col-md-3
          img.img-rounded.button.grow(src='img/slider/graphite hall.jpg', style='margin:5px 0px 15px;', height='200px', alt='equipment', href='equipment')
          p.style 
           | Graphite Hall
        .col-md-3
          img.img-rounded.button.grow(src='img/slider/green hall.jpg', style='margin:5px 0px 15px;', height='200px', alt='equipment', href='equipment')
          p.style
           | Green Hall
    .container
     .row
        script(type='text/javascript', src='scripts/ckeditor.js')
        script(type='text/javascript').
         window.onload = function()
          {
            CKEDITOR.replace('wysiwyg-area', {
            toolbar: 'Basic',
           });
          };
       textarea(name='wysiwyg-area') Здесь вы можете редактировать текст!