extends layout
head
body

block content                                                                                                             
    .container.textCenter.shadowDown
        br
        br
        br
        h1
         b СТРАНИЦА НАХОДИТСЯ В РАЗРАБОТКЕ!
        br
        br
        br
        .row.construction
         .col-md-3.boxContCenter
          img.img-rounded.button.grow(src='/img/sorry/3.png', style='margin-top:60px; height: 180px;', alt='page is under construction')
         .col-md-3.boxContCenter
          img.img-rounded.button.grow(src='/img/sorry/1.png', style='margin-top:10px; height: 280px;', alt='page is under construction')
         .col-md-3.boxContCenter
          img.img-rounded.button.grow(src='/img/sorry/3.png', style='margin-top:60px; height: 180px;', alt='page is under construction')

        br
        br
        h2 Приносим свои извинения за причинённые Вам неудобства!
        br
        br
        br
        br