extends layout
head
body

block content                                                                                                             
    .container.textCenter.shadowDown
        br
        br
        br
        h1 СТРАНИЦА НАХОДИТСЯ В РАЗРАБОТКЕ!
        br
        br
        br
        .row.construction
         .col-md
          img.img-rounded.button.grow(src='/img/sorry/2.png', style='margin-top:30px;', alt='page is under construction')

        br
        br
        h2 Приносим свои извинения за причинённые вам неудобства!
        br
        br
        br
        br